.Detail {
  #mainAsideInfo {
    display: flex;
    flex-flow: column nowrap;
    padding-left: 40px;

    #coffeeReviewWrapper {
      display: flex;
      flex-direction: column;
      width: 610px;
      padding-top: 45px;

      #coffeeReviewHeader {
        border-bottom: 2px solid rgb(207, 207, 207);

        #reviewTitle {
          padding-bottom: 7px;
          font-size: 18px;
        }
      }

      #reviewStatus {
        padding: 20px 0;

        .reviewList {
          display: flex;
          position: relative;

          .userId {
            display: inline-block;
            padding-right: 10px;
            font-weight: 800;
          }

          .reviewContents {
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          .LikeBtn {
            background-color: white;
            border: none;
            cursor: pointer;

            &.beRedColor {
              background-color: white;
              color: tomato;
            }
          }
          .deleteBtn {
            background-color: white;
            border: none;
            cursor: pointer;
          }
        }
      }

      #reviewInputBox {
        display: flex;

        #userInputIdBox {
          flex: 0.15 1 0;
          margin-right: 10px;
          padding: 10px 0 5px 5px;
          background-color: rgb(239, 239, 239);
        }

        #contentsInputBox {
          flex: 0.85 1 0;
          padding: 10px 0 5px 5px;
          background-color: rgb(239, 239, 239);
        }
      }
    }
  }
}
