.EachReview {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;

  .content {
    display: flex;

    .username {
      font-weight: 700;
      margin-right: 10px;
    }
  }

  .option {
    display: flex;

    .like {
      position: relative;
      top: -4px;
      margin: 0 0 10px 10px;
      font-size: 18px;
      color: #ccc;
      cursor: pointer;

      .fas {
        color: #f5425d;
      }
    }

    .delete {
      margin-left: 15px;
      cursor: pointer;
    }
  }
}
