.Input {
  width: 100%;
  margin-bottom: 13px;
  padding: 8px 6px;
  background-color: #f7f7f7;
  border: 2px solid #dddddd;
  border-radius: 4px;
  font-size: 12px; //repetitive

  &:focus {
    border: 2px solid grey;
    outline: none !important;
  }

  &.valid:focus {
    border: 2px solid green;
  }
}
