.Detail {
  font-family: nbg, '맑은 고딕', HelveticaNeue, DroidSans, sans-serif, Helvetica;
  font-size: 12px;

  .container {
    width: 1100px;
    margin: 0 auto 100px;
  }

  .topCategoryContainer {
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;
    margin-bottom: 20px;

    .categoryTitle {
      font-size: 18px;
      font-weight: 600;
    }

    .directory {
      position: absolute;
      right: 0;
      bottom: 0;
      color: #959595;
    }
  }

  .mainInfoContainer {
    display: flex;
    margin-bottom: 60px;

    .imageContainer {
      margin-right: 20px;

      img {
        display: block;
        width: 450px;
      }
    }

    .detailsContainer {
      position: relative;
      flex-grow: 1;
      width: 55%;

      .likeBtn {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 10px;
        top: 10px;
        color: #dddddd;
        cursor: pointer;

        &.fas {
          color: red;
        }

        &.far:hover {
          color: grey;
        }
      }

      .title {
        padding: 0 0 20px;
        border-bottom: 2px solid black;
        font-size: 16px;
        font-weight: bold;

        .english {
          font-size: 12px;
          font-weight: normal;
        }
      }

      .description {
        padding: 20px 0;
        border-bottom: 2px solid #efefef;
      }
    }
  }
}
