.Review {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 4px;
  color: #222;
  font-family: 'nbg', '맑은 고딕', HelveticaNeue, DroidSans, Sans-serif,
    Helvetica;
  font-size: 14px;

  dt {
    flex: 1;
    margin-top: 2px;
    font-weight: bold;
  }

  dd {
    flex: 5;
    margin: 2px auto 0 4px;
    line-height: 1.2;
  }
}
