.List {
  margin: 0 auto;
  padding: 0 180px;

  .coffeeListPageMain {
    flex: display;
    flex-direction: column;

    .mainCategoryWrapper {
      margin-bottom: 35px;

      .coldBrewCoffeeSection {
        padding-top: 15px;
      }

      .categoryHeader {
        padding: 15px;
        background-color: rgb(246, 240, 245);

        .coffeeTypeName,
        .coffeeDetailDescription {
          display: inline-block;
          white-space: nowrap;
        }
      }
    }
  }
}
