.List {
  margin: 0 auto;
  padding: 0 180px;

  $nav-color: rgb(165, 165, 161);
  %webucks-logo-style{
    font-size: 23px;
    font-weight: bolder;
    font-family: 'Dancing Script', cursive;
  }
  %flex-row-space-between {
    display: flex;
    justify-content: space-between;
  }

  .coffeeListPageMain{
    flex: display;
    flex-direction: column;
    
    .mainCategoryWrapper {
      margin-bottom: 35px; 
      
      .coldBrewCoffeeSection {
          padding-top: 15px;
      }

      .categoryHeader {
          background-color: rgb(246, 240, 245);
          padding: 15px;
          
          .coffeeTypeName, .coffeeDetailDescription {
              display: inline-block
          }
      }
      
      .sectionContents {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 15px;
          margin: 20px 0px; 
          text-align: center;
      
          .divWrapperAllImgAndName {
            transition: ease-in-out .10s;   
    
          .divWrapperCoffeeImg {  
            height:265px;
            margin-bottom: 15px; 
            cursor: pointer;
            margin:0;
            overflow: hidden; 
            
            .coffeeImg {
              width: 255px;
              
              .magnifiedImg {
                transform: scale(1.15);
                transform-origin: center;
                transition-duration: 1s, 3s;
              }
            } 
          }
  
          .coffeeName {
              padding-top: 15px;
          }
        }
      }
    }
  }     
}

