.CoffeeType {
  margin-top: 30px;

  dt {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 1060px;
    height: 60px;
    padding-top: 24px;
    background-color: #f6f5ef;

    h2 {
      margin-left: 24px;
      color: #333;
      font-family: Avenir, Arial, georgia;
      font-size: 16px;
      font-weight: bold;
    }

    img {
      height: 30px;
      margin: -7px 9px 9px 12px;
    }

    p {
      padding-top: 1px;
      color: #333;
      font-family: Avenir, Arial, georgia;
      font-size: 14px;
    }
  }
}
