.Login {
  width: 100vw;
  height: 100vh;

  background-color: #eeefef;
  overflow: hidden;

  header {
    display: none;
  }

  section {
    display: flex;
    flex-direction: column;

    width: 420px;
    height: 480px;
    margin: 40px auto;
    border: 2px solid lightgray;
    border-radius: 4px;
    padding: 40px 60px;

    background-color: #ffffff;
  }

  img#logo {
    // 수정된 공용 로고 이미지의 크기를 레이아웃에 맞게 조정
    width: 240px;
    height: 96px;
    margin: 0 auto;
    padding: 12px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 300px;
    height: 150px;
    margin: 20px auto 0 auto;

    input,
    button {
      height: 40px;
    }

    input {
      border: 1px solid lightgray;
      border-radius: 4px;
      padding-left: 10px;

      background-color: #fafafa;
      font-size: 14px;
      opacity: 0.8;
    }

    button {
      border: 0;
      border-radius: 8px;

      background-color: #0095f6;
      color: white;
      font-size: 16px;
      font-weight: bold;
      opacity: 0.6;

      &.active {
        cursor: pointer;
        opacity: 1;
      }
    }
  }

  a#lost {
    display: block;

    margin-top: 90px;

    color: #0095f6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
  }
}
