.Login {
  width: 100vw;
  height: 100vh;
  background-color: #eeefef;

  margin: 0;

  position: relative;
  top: -8px;
  left: -8px;
  overflow: hidden;

  header {
    display: none;
  }

  section {
    width: 420px;
    height: 480px;
    background-color: #ffffff;

    padding: 40px 60px;
    border: 2px solid lightgray;
    border-radius: 4px;
    margin: 40px auto;

    display: flex;
    flex-direction: column;
  }

  img#logo {
    // 수정된 공용 로고 이미지의 크기를 레이아웃에 맞게 조정
    width: 240px;
    height: 96px;

    padding: 12px;
    margin: 0 auto;
  }

  form {
    width: 300px;
    height: 150px;

    margin: 20px auto 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    input,
    button {
      height: 40px;

      padding-left: 10px;
    }

    input {
      font-size: 14px;
      background-color: #fafafa;
      opacity: 0.8;

      border: 1px solid lightgray;
      border-radius: 4px;
    }

    button {
      color: white;
      font-size: 16px;
      font-weight: bold;
      background-color: #0095f6;
      opacity: 0.6;

      border: 0;
      border-radius: 8px;
    }

    .active {
      opacity: 1;

      cursor: pointer;
    }
  }

  a#lost {
    color: #0095f6;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;

    margin-top: 90px;

    display: block;
  }
}
