.FooterList {
  margin: 60px 0;

  .footer-list__title {
    margin: 20px 16px;
  }

  .footer-list__item {
    margin: 16px;
  }

  @media (max-width: 1200px) {
    .footer-list {
      width: 200px;
    }
  }
}
