.CoffeeDescription {
  .coffeeDescriptionHeader {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    border-bottom: 2px solid #333;

    .title {
      h1 {
        padding-left: 0;
        margin: 0 0 7px 0;
        font-weight: 600;
        font-size: 25px;
      }

      p {
        font-size: 15px;
      }
    }

    .like {
      align-self: center;
      color: #ccc;
      font-size: 20px;
      cursor: pointer;
      .fas {
        color: #f5425d;
      }
    }
  }

  .coffeeDescriptionContent {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    line-height: 23px;
  }
}
