.MidNav {
  position: relative;

  width: 1060px;
  margin: 75px auto 30px auto;

  color: #666;
  font-size: 14px;
  text-align: right;

  h2 {
    display: none;
  }

  #nav-title {
    position: absolute;
    top: -60px;
    left: 0;
  }

  a {
    margin: 0 2px;

    color: #222;
    font-family: Avenir, Arial, georgia;
    font-size: 16px;
    text-decoration: none;
    opacity: 0.6;
  }
}
