@import "../../../styles/variable.scss";
@import "../../../styles/mixin.scss";

.Login {
  margin: 0 auto;
  padding: 20px 0;
  background-color: #eeefef;

  .loginWindow {
    @include flex-column-center;
    height: 75vh;
    margin: 80px 450px;
    padding: 30px 60px;
    @include background-border-Color(
      $windowAndInput-border-color,
      5px,
      $default-white
    );
    border-radius: 10px;

    &Title {
      flex: 0.28 1 0;
      @include flex-row;
      @include logo-style;
    }

    &InputBox {
      flex: 0.35 1 0;
      @include flex-column-space-around;
      width: 100%;

      .loginUserId,
      .loginUserPsw {
        padding: $input-padding;
        @include background-border-Color(
          $windowAndInput-border-color,
          3px,
          whitesmoke
        );
        border-radius: 5px;
        @include font-size-bold-color(
          $input-font-color,
          $input-font-size,
          $input-font-bolder
        );
        &::placeholder {
          @include font-size-bold-color(
            $input-font-color,
            $input-font-size,
            $input-font-bolder
          );
        }
      }

      .loginUserBtn {
        padding: $input-padding;
        @include background-border-Color(lightsteelblue, 3px, lightsteelblue);
        border-radius: 10px;
        text-align: center;
        @include font-size-bold-color(
          $default-white,
          $input-font-size,
          $input-font-bolder
        );

        .ButtonWrapper {
          @include font-size-bold-color(
            $default-white,
            $input-font-size,
            $input-font-bolder
          );
          padding: 10px 160px;
        }
      }
      .changeColor {
        @extend .loginUserBtn;
        @include background-border-Color(steelblue, 3px, steelblue);
      }
    }

    &FindUserPsw {
      flex: 0.3 1 0;
      @include flex-column-end;
      @include font-size-bold-color(
        rgb(75, 124, 160),
        $input-font-size,
        $input-font-bolder
      );
      text-decoration: none;
    }
  }
}
