@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

$primary-color: #ffffff;

body {
  width: 100vw;
  height: 100vh;
  background-color: #eeefef;
}

.loginContainer {
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 20%;
  background-color: $primary-color;
}

.loginTitle {
  &Name {
    display: flex;
    justify-content: center;
    font-size: 80px;
    font-family: 'Dancing Script', cursive;
  }
  margin: 60px 30px 50px;
  background-color: $primary-color;
}

.loginForm {
  display: flex;
  flex-direction: column;
  padding: 0px 210px;
  input {
    &::placeholder {
      padding-left: 8px;
      font-size: 15px;
      font-weight: 500;
      opacity: 0.7;
    }
    height: 55px;
    width: 500px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #fafafa;
  }
  button {
    height: 55px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .loginFormBtnSpan {
    margin-bottom: 500px;
    color: $primary-color;
    text-decoration: inherit;
    font-size: 15px;
    font-weight: 800;
  }
}

.loginFooter {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  color: #0095f6;
}

.activeBtn {
  background-color: #0095f6;
}

.deactiveBtn {
  background-color: #b2dffc;
}
