.Footer {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0px;
  background-color: #333333;
  color: white;

  .navOptions {
    margin-top: 10px;

    p {
      padding: 5px 0;
    }
  }
}
