.List {
  margin: 0 auto;
  padding: 0 180px;

  .coffeeListPageMain {
    flex: display;
    flex-direction: column;
    justify-content: center;

    .sectionContents {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 15px;
      margin: 20px 0px;
      text-align: center;

      .divTagWrapperCoffeeImgAndName {
        overflow: hidden;

        .aTagWrapperCoffeeImg {
          display: inline-block;
          height: 265px;
          margin-bottom: 15px;
          cursor: pointer;
          overflow: hidden;

          .coffeeImg {
            width: 255px;
            transform: scale(1);
            transition: all 0.8s ease-in-out;

            &:hover {
              transform: scale(1.15);
            }
          }
        }

        .coffeeName {
          .fa-heart {
            padding-left: 5px;
            font-size: 20px;
            cursor: pointer;
            color: gray;
          }

          .changeColor {
            color: tomato;
          }
        }
      }
    }
  }
}
