@import '../../../../styles/variable';

.CoffeeCardList {
  max-width: $mainWidth;
  width: 100%;

  .coffeeListHeader {
    display: flex;
    max-width: $mainWidth;
    height: 55px;
    padding: 10px 20px;
    background-color: #f4f4f2;
    line-height: 35px;

    * {
      margin-right: 15px;
    }

    .title {
      font-weight: bold;
      font-size: 18px;
    }

    .content {
      font-size: 14px;
    }
  }

  .coffeeListBody {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 15px 0 50px 0;
  }

  @media (max-width: 1200px) {
    .header {
      max-width: 700px;
      margin: 0 auto;
    }

    .body {
      justify-content: center;
    }
  }

  @media (max-width: 576px) {
    .header {
      position: relative;
      flex-direction: column;
      max-width: 300px;
      height: 100px;
      text-align: center;

      .title {
        font-size: 13px;
      }

      img {
        display: none;
      }

      p {
        font-size: 15px;
        line-height: 15px;
      }
    }
  }
}
