@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body {
  width: 100vw;
  height: 100vh;
  background-color: #eeefef;
}

.listContainer {
  margin: 35px 150px;
  background-color: #ffffff;
}

main {
  margin-top: 30px;
}

.secondBar {
  h2 {
    font-size: 18px;
    font-weight: 900;
    opacity: 0.75;
  }
  span {
    display: flex;
    width: 80%;
    margin: 10px 17px;
    opacity: 0.73;
  }
  img {
    height: 25px;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  margin-bottom: 30px;
  height: 55px;
  background-color: #f4f4f2;
}

.thirdBar {
  h2 {
    @extend h2;
  }
  span {
    @extend span;
  }
  img {
    @extend img;
  }
  @extend .secondBar;
}

.coldbrew {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
    text-align: center;
  }
  p {
    padding-top: 5px;
    margin-bottom: 15px;
  }
  img {
    &:hover {
      transform: scale(1.1);
    }
    width: 90%;
    transition: transform 0.5s;
  }
}

.brewed {
  img {
    &:hover {
      @extend :hover;
    }
    width: 90%;
    transition: transform 0.5s;
  }
  .brewedList {
    position: relative;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    left: 10px;
  }
}
