.CoffeeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 10px;

  .wraper {
    width: 260px;
    height: 270px;
    overflow: hidden;
  }

  & img {
    width: 260px;
    height: 270px;
    transition: all 0.5s linear;
  }

  & img:hover {
    transform: scale(1.11);
  }

  .title {
    display: flex;

    p {
      margin: 15px 0;
    }

    .fa-heart {
      margin: 13.3px;
      color: #ccc;
      cursor: pointer;

      &.fas {
        color: #f5425d;
      }
    }
  }

  &:nth-child(4n + 1) {
    margin-left: 0;
  }

  &:nth-child(4n) {
    margin-right: 0;
  }

  @media (max-width: 1200px) {
    &:nth-child(4n + 1),
    &:nth-child(4n) {
      margin: 20px 10px;
    }
  }
}
