$leewidth: 1100px;
$kimwidth: 1080px;
$sungwidth: 1100px;
$wonwidth: 1060px;
$wookwidth: 1100px;

.Nav {
  // background-color: green;

  .section {
    max-width: $sungwidth;
    height: 55px;
    padding: 10px 20px;
    // background-color: red;
  }

  header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f4f4f2;
  }

  .menuGroup.right img {
    width: 100px;
  }

  .menuGroup.left ul {
    display: flex;
    justify-content: space-around;
  }

  .menuGroup.left li {
    padding: 5px;
  }

  .menuGroup.left a {
    color: rgb(146, 135, 120);
  }

  .menuGroup.left a:hover {
    color: rgb(171, 89, 17);
  }

  #toggleBar {
    display: none;
  }

  // @media (max-width: 1200px) {
  //   .section {
  //     max-width: 700px;
  //   }
  // }

  // @media (max-width: 576px) {
  //   .section {
  //     position: relative;
  //     max-width: 300px;
  //     display: block;
  //   }

  //   .menuGroup.left {
  //     display: none;
  //   }

  //   #toggleBar {
  //     position: absolute;
  //     top: 12px;
  //     right: 20px;
  //     display: block;
  //     cursor: pointer;
  //   }

  //   .on.toggle {
  //     display: block;
  //   }

  //   .on.toggle ul {
  //     position: relative;
  //     flex-direction: column;
  //     align-items: center;
  //     width: 300px;
  //     z-index: 5;
  //     right: 20px;
  //     background-color: #f4f4f2;
  //   }
  // }
}
