@import '../../styles/variable';

.Nav {
  .section {
    max-width: $mainWidth;
    height: 55px;
    padding: 10px 20px;
  }

  header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f4f4f2;
  }

  .menuGroup.right img {
    width: 100px;
  }

  .menuGroup.left ul {
    display: flex;
    justify-content: space-around;
  }

  .menuGroup.left li {
    padding: 5px;
  }

  .menuGroup.left a {
    color: rgb(146, 135, 120);
  }

  .menuGroup.left a:hover {
    color: rgb(171, 89, 17);
  }

  #toggleBar {
    display: none;
  }

  // 밑에 내용은 공용으로 사용 할 반응형 scss인데 아직 완벽히 구현하지 못해서 일단 주석처리했습니다.

  // @media (max-width: 1200px) {
  //   .section {
  //     max-width: 700px;
  //   }
  // }

  // @media (max-width: 576px) {
  //   .section {
  //     position: relative;
  //     max-width: 300px;
  //     display: block;
  //   }

  //   .menuGroup.left {
  //     display: none;
  //   }

  //   #toggleBar {
  //     position: absolute;
  //     top: 12px;
  //     right: 20px;
  //     display: block;
  //     cursor: pointer;
  //   }

  //   .on.toggle {
  //     display: block;
  //   }

  //   .on.toggle ul {
  //     position: relative;
  //     flex-direction: column;
  //     align-items: center;
  //     width: 300px;
  //     z-index: 5;
  //     right: 20px;
  //     background-color: #f4f4f2;
  //   }
  // }
}
