$leewidth: 1100px;
$kimwidth: 1066px;
$sungwidth: 1100px;
$wonwidth: 1060px;
$wookwidth: 1100px;

.TopNav {
  .section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 55px;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #f4f4f2;
    overflow: visible;

    .menuGroup.right img {
      width: 100px;
    }
    .menuGroup.left ul {
      display: flex;
      justify-content: space-around;

      li {
        padding: 5px;
        word-wrap: break-word;

        a {
          color: rgb(146, 135, 120);

          &:hover {
            color: rgb(171, 89, 17);
          }
        }
      }
    }
  }
}
