.Reviews {
  h2 {
    margin: 40px 0 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    font-weight: 600;
  }

  .reviewList {
    height: 200px;
    margin: 20px 0;
    overflow: auto;
  }

  .inputBox {
    display: flex;

    input {
      height: 30px;
      padding-left: 10px;
      border: 0;
      background-color: #efefef;
    }

    .id {
      flex: 1;
    }

    .content {
      flex: 5;
    }
  }
}
