.Detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;

  .TopNav {
    .menuGroup.left img {
      margin: 4px auto auto 4px;
    }

    a {
      color: #333;
      font-family: Avenir, Arial, georgia;
      font-size: 16px;
      font-weight: 400;
      text-decoration: none;
    }
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 1060px;

    aside {
      h3 {
        display: none;
      }

      img {
        width: 450px;
      }
    }

    section {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 580px;

      div.section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 580px;

        .section-info {
          position: relative;
          width: 580px;

          &:nth-child(1) {
            margin-bottom: 20px;
            border-bottom: 2px solid #333;
            padding-bottom: 20px;

            h3 {
              color: #222;
              font-family: 'nbg', '맑은 고딕', HelveticaNeue, DroidSans,
                Sans-serif, Helvetica;
              font-size: 24px;
              font-weight: bold;
              line-height: 1.2;

              .fa-heart {
                position: absolute;
                top: 0;
                right: 10px;
                cursor: pointer;

                &.far {
                  z-index: 1;
                  opacity: 0.2;
                }

                &.fas {
                  display: none;

                  &.active {
                    display: inline;
                    z-index: 2;
                    color: red;
                  }
                }
              }
            }

            h4 {
              margin-top: 5px;
              color: #666;
              font-family: 'Arial';
              font-size: 14px;
              font-weight: normal;
              line-height: 1.2;
            }
          }

          p {
            min-height: 40px;
            margin-bottom: 20px;
            color: #444;
            font-family: 'nbg', '맑은 고딕', HelveticaNeue, DroidSans,
              Sans-serif, Helvetica;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.6;
          }
        }

        .section-spec {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 580px;

          &:nth-child(1) {
            margin-bottom: 20px;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            padding: 20px 0;

            h5 {
              padding: 0 10px;
              color: #222;
              font-family: 'nbg', '맑은 고딕', HelveticaNeue, DroidSans,
                Sans-serif, Helvetica;
              font-size: 18px;
              font-weight: 500;
              line-height: 1.3;
            }
          }

          p {
            padding: 0 10px;
            color: #222;
            font-family: 'nbg', '맑은 고딕', HelveticaNeue, DroidSans,
              Sans-serif, Helvetica;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.3;
          }

          &:nth-child(2) {
            margin-bottom: 20px;

            div:nth-child(1) {
              border-right: 1px dashed #ccc;
            }

            dl {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              width: 290px;
              padding: 0 10px;
              color: #444;
              font-family: 'nbg', '맑은 고딕', HelveticaNeue, DroidSans,
                Sans-serif, Helvetica;
              font-size: 16px;
              font-weight: 500;
              line-height: 1.4;

              dt,
              dd {
                padding-bottom: 16px;
              }
            }
          }

          &:nth-child(3) {
            width: 580px;
            height: 50px;
            margin-bottom: 30px;
            padding: 0 5px;
            background-color: #efefef;
            color: #444;
            font-family: 'nbg', '맑은 고딕', HelveticaNeue, DroidSans,
              Sans-serif, Helvetica;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.4;
          }
        }

        .section-review {
          width: 580px;
          margin-top: 12px;

          h5 {
            border-bottom: 1px solid #ccc;
            padding-bottom: 8px;
            color: #222;
            font-family: 'nbg', '맑은 고딕', HelveticaNeue, DroidSans,
              Sans-serif, Helvetica;
            font-size: 21px;
            font-weight: bold;
          }

          input {
            margin: 15px 0 60px 0;
            border: 0;
            padding-left: 10px;
            width: 580px;
            height: 40px;
            background-color: #efefef;
          }
        }
      }
    }
  }
}
